<div uk-sticky="animation: uk-animation-slide-top; sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; cls-inactive: uk-navbar-transparent uk-light; top: 100">
    <nav class="uk-navbar uk-navbar-container">
        <div class="uk-navbar-left uk-width-1-1 uk-container">
            <a class="uk-button uk-navbar-toggle" href="#" uk-toggle="target: #main-navigation">
                <span uk-navbar-toggle-icon></span> <span class="uk-margin-small-left">Menu</span>
            </a>
        </div>
    </nav>
</div>

<div class="uk-offcanvas-content">
    <div id="main-navigation" uk-offcanvas="overlay: true">
        <div class="uk-offcanvas-bar uk-flex uk-flex-column">
            <button class="uk-offcanvas-close" type="button" uk-close></button>

            <ul class="uk-nav uk-nav-primary uk-nav-center uk-margin-auto-vertical" uk-scrollspy-nav="closest: li; scroll: true">
                <li class="uk-active"><a href="#header" uk-scroll="offset: 80" uk-toggle="target: #main-navigation">Home</a></li>
                <li class="uk-parent">
                    <a href="#page-intro" uk-scroll="offset: 80" uk-toggle="target: #main-navigation">Seiten Intro</a>
                    <ul class="uk-nav-sub">
                        <li><a href="#" uk-scroll="offset: 80" uk-toggle="target: #main-navigation">Unterseite #1</a></li>
                        <li><a href="#" uk-scroll="offset: 80" uk-toggle="target: #main-navigation">Unterseite #2</a></li>
                    </ul>
                </li>
                <li><a href="#blog-example" uk-scroll="offset: 80" uk-toggle="target: #main-navigation">Blog Beiträge Beispiele</a></li>
            </ul>

            <!-- Social Navigation -->
            <div class="uk-flex uk-flex-center" uk-grid>
                <a class="uk-icon-link" href="#" uk-icon="facebook"></a>
                <a class="uk-icon-link" href="#" uk-icon="twitter"></a>
                <a class="uk-icon-link" href="#" uk-icon="mail"></a>
                <a class="uk-icon-link" href="#" uk-icon="receiver"></a>
            </div>
        </div>
    </div>
</div>